<template>
	<div class="LayoutTwo">
		<p>Status Page: {{ status }}</p>
	</div>
</template>

<script>
	export default {
		name: 'LayoutTwo',
		data: () => {
			return {
				status: 'Halaman 2'
			}
		}
	}
</script>