<template>
	<v-container fluid fill-height>
		<v-layout align-center justify-center>
<router-link class="link" to="/HalamanSatu">
<v-btn text>
<span class="mr-2">Halaman Satu</span>
</v-btn>
</router-link>

<router-link class="link" to="/HalamanDua">
<v-btn text>
<span class="mr-2">Halaman Dua</span>
</v-btn>
</router-link>
<router-link class="link" to="/HalamanTiga">
<v-btn text>
<span class="mr-2">Halaman Tiga</span>
</v-btn>
</router-link>
		</v-layout>
	</v-container>
</template>

<script></script>